body {
    direction: rtl;
    margin: 0px;
    padding: 0px; /*overflow-x:hidden*/
}

.home {
    padding: 10px;
    width: 95%;
    margin: auto;
    margin-top: 84px;
    height: 640px;
    background: linear-gradient(50deg,#ffeb97,#583714);
}

.imgHome {
    width: 45%;
    height: 600px;
    margin-left: 2%;
    margin-top: 10px;
}

.InfoHome {
    width: 53%;
}

.info {
    min-width: 50%;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    float: left;
    margin-left: 2%;
    margin-top: 50px;
}

.info-items {
    height: 65px;
    width: 100%;
    flex-direction: row;
}

.titl {
    min-width: 50%;
    float: right;
}

h1 {
    color: white;
}

.child {
    min-width: 10%;
    float: right;
    padding: 3px;
    height: 48%;
    border-bottom: 1px solid red;
}

.Service {
    width: 95%;
    padding: 5px;
    height: 650px;
    margin: auto;
}

.imagesService {
    /*float: left;*/
    width: 50%;
    height: 640px;
    background-color: rebeccapurple;
}

    .imagesService img {
        width: 100%;
        height: 100%;
    }

.Service-info {
    width: 50%;
    /*float: right;*/
    background-color: firebrick;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 200px;
}

.galeri-Service {
    width: 45%;
    float: left;
    margin: auto;
    display: none;
    height: 89px;
}

.part {
    height: 50px;
    width: 32%;
    margin-top: 5px;
    margin-bottom: 5px;
}

.blog {
    width: 100%;
    min-height: 600px;
    margin-bottom: 50px;
    background-color: darkblue;
    padding: 0px;
}

.tozi {
    width: 58%;
    float: right;
    margin-top: 30px;
    margin-right: 2px;
    margin-left: 2px;
    background-color: oldlace;
}

.tozi-left {
    width: 40%;
    float: left;
    margin-top: -90px;
    margin-left: 2px;
    background-color: firebrick;
}

#footer {
    width: 100%;
    height: 500px;
    background-color: royalblue;
    padding-top: 40px;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: 1px solid #ff00dc;
    min-height: 430px;
    width: 90%;
    margin: auto;
    padding: 10px;
}

.foo-items {
    width: 30%;
    height: 400px;
    background-color: aqua;
}

#Portfolio {
    width: 99%;
    margin: auto;
    min-height: 900px;
    margin-bottom: 30px;
}

.allcode-Hamster {
    float: right;
    margin-right: 5%;
    margin-top: 10px;
}

.single {
    margin-top: 5px;
    margin-bottom: 8px;
    height: 250px;
}

.fiks {
    float: right;
    margin-bottom: 100px;
    margin-right: 2.5%;
}

.logo {
    width: 40px;
    height: 40px;
}

.nav-link {
    color: black !important;
    font-weight: 800;
    font-size: 17px;
}

.nav-item {
    margin-right: 2% !important;
    margin-left: 1.5% !important;
    padding: 4px;
}

.nav-link {
    color: #583714 !important;
}

.navbar-nav {
    width: 80%;
    height: 50px;
}

.nav-item:hover {
    border-bottom: 1px solid #f5ebfa;
    border-radius: 35px 35px;
    background: linear-gradient(#BDCFFF,#C8B6FE,#FED5FF);
}

.navbar {
    border: #dcd5d5 1px solid !important;
    z-index: 999 !important;
    padding: 15px 30px !important;
    background-color: white;
    transition: ease 025s;
}

likeColer {
    background: linear-gradient(#BDCFFF,#C8B6FE,#FED5FF);
}

.iconFA {
    width: 40%;
    height: 80px;
    margin: auto;
    margin-top: 0px;
}

.question {
    width: 95%;
    height: 650px;
    background-color: rebeccapurple;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.titl-question {
    width: 50%;
    margin: auto;
    height: 120px;
    border: 1px solid red;
}

.qu {
    width: 95%;
    margin: auto;
    margin-top: 5px;
    border: 1px solid red;
}

.titlQU {
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border: #cfcfcf solid 1px;
    background: linear-gradient(25deg,#9c93e5,#c7a3d2,#ba8cde);
    max-width: 50%;
    height: 80px;
    margin: auto;
    position: relative;
    z-index: 1;
}

.answer {
    max-width: 50%;
    height: 180px;
    margin: auto;
    border: 1px solid red;
    margin-top: -20px;
    position: relative;
    z-index: 0;
    background: linear-gradient(25deg,#dfe0e5,#c5c0c9,#8a7c9c);
    border-bottom-right-radius: 25px;
    display: none;
}

.downN {
    width: 8%;
    height: 70%;
    float: left;
    margin-left: 1%;margin-top:15PX
}
.downN img{
    width:100%;height:100%
}
.titlQUP:hover .answer {
    display: block;
}

.qu p {
    color: white;
}

.overall {
    width: 95%;
    margin: auto;
    padding: 20px;
    padding-top: 60px;
    padding-bottom: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.coler-black {
    color: black;
}

@media(max-width:1256px) {
    .Service-info {
        width: 29%;
        flex-direction: column;
    }

    .allcode-Hamster {
        width: 10%;
        height: 10%;
    }

    .part {
        width: 100%;
    }

    .Service-slider {
        width: 70%;
    }
}

@media(max-width:1450px) {
    .imgHome {
        width: 90%;
        height: 380px;
        margin: auto;
        margin-left: 5%;
        margin-bottom: 10px;
    }

    .InfoHome {
        width: 80%;
        max-height: 400px;
        margin-right: 10%;
    }
}

@media(max-width:1199px) {
    .child {
        display: none;
    }

    .titl {
        min-width: 100%;
    }

    .overall {
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    .card1 {
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

@media(max-width:1100px) {
    .imagesService {
        display: none;
    }
}

@media(max-width:991px) {
    .allcode-Hamster {
        display: none;
    }

    .info-items {
        width: 100%;
    }


    .foo-items {
        width: 98%;
        margin: auto;
        margin-top: 5px;
    }

    .footer {
        flex-direction: column;
    }

    .tozi-left, .tozi {
        display: block;
        width: 90%;
        margin-right: 5%;
        margin-top: 14px;
        float: right;
    }

    .galeri-Service {
        display: block;
    }

    .Service-info {
        width: 55%;
        flex-direction: row;
    }

    .part {
        width: 32%;
    }

    .Service-slider {
        display: none;
    }
}

@media(max-width:768px) {
    .Service-info {
        width: 54%;
        flex-direction: column;
    }

    .part {
        width: 100%;
    }
}

@media(max-width:768px) {
    .imgHome {
        width: 90%;
        margin: 10%;
        height: 200px;
    }

    .info {
        width: 100%;
        margin: auto;
        height: 60px;
        margin-top: 0px;
    }

    .child {
        display: none;
    }

    .titl {
        min-width: 100%;
    }

    .InfoHome {
        height: 100px;
        margin: auto;
        margin-bottom: 7px;
    }
}

@media(max-width:512px) {
    .imgHome {
        width: 90%;
        margin-right: 5%;
    }

    .InfoHome {
    }


    .galeri-Service {
        display: none;
    }

    .Service-info {
        width: 95%;
        margin: auto;
        flex-direction: column;
    }
}

@media(max-width:256px) {
}
